<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>

    <style type="text/css">
        .msg{
          margin-top: 25px;
          padding: 25px;
          display: none;
          color: rgb(19, 19, 19);
          border-color: blue;
          border-width:2px 2px 3px 2px;
          border-style:solid ;
          padding:0 10px;
        }

        /* .yellow{ 
          background: yellow; 
        }
        .green{ 
          background: green; 
        }
        .red{ 
          background: red; 
        } */

      </style>
      <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
      <script type="text/javascript">
      $(document).ready(function(){
          $("select").change(function(){
              $(this).find("option:selected").each(function(){
                  var val = $(this).attr("value");
                  if(val){
                      $(".msg").not("." + val).hide();
                      $("." + val).show();
                  } else{
                      $(".msg").hide();
                  }
              });
          }).change();
      });
      </script>
    </head>
    <body>

        {% csrf_token %}
        <!-- Welcome {{e}} -->
        <h1 style="text-align: center;">Mon journal de bord</h1>
    
        <form action="/postMessage/" method="post">
            {% csrf_token %}
            <label for="message">Ajouter une note collective :</label>
            <input type="text" name="message" value="" placeholder="Your message here"/>
            <input type="submit" value="save"/>
        </form>
        {% for key1, message in msg.items %} 
            {% for key2, m in message.items %}
                <p>{{m}}</p>
            {% endfor %}
        {% endfor %}


        <select>
            <option>Choisissez l'apprenant</option>
            <option value="yellow">Amelle</option>
            <option value="red">Hazelle</option>
            <option value="green">Qiong</option>
        </select>
        <div class="yellow msg">
            Vous avez sélectionné {{channel_prenom}}
            <div style=" border:1px solid; padding:3px;">
                <p style="font-weight: 600" >Compte rendu d'entretiens individuels</p>
                <p>{{channel_compterendu}}</p>
                <p style="font-weight: 600">Retard : </p><p>{{channel_retard}}</p>
            </div>
        </div>
        <div class="red msg">
            Vous avez sélectionné {{channel_prenomS}}
            <div style=" border:1px solid; padding:3px;">
                <p style="font-weight: 600" >Compte rendu d'entretiens individuels de {{channel_prenomS}} {{channel_nomS}}</p>
                <p>{{channel_compterenduS}}</p>
                <p style="font-weight: 600">Retard : </p><p>{{channel_retardS}}</p>
            </div>
        </div>
        
        <div class="green msg">
            Vous avez sélectionné {{channel_prenomT}}
            <div style=" border:1px solid; padding:3px;">
                <p style="font-weight: 600" >Compte rendu d'entretiens individuels {{channel_prenomT}} {{channel_nomT}}</p>
                <p>{{channel_compterenduT}}</p>
                <p style="font-weight: 600">Retard : </p><p>{{channel_retardT}}</p>
            </div>
        </div>
        

    </body>
</html>
